Flask==3.0.3
Flask-JWT-Extended==4.6.0
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
flask-smorest==0.44.0
SQLAlchemy==2.0.36
marshmallow==3.22.0
webargs==8.6.0
passlib==1.7.4
psycopg2-binary==2.9.10
Werkzeug==3.0.6
apispec==6.6.1
alembic==1.14.0
python-dateutil==2.8.1
pytz==2020.1
click==8.1.7
Jinja2==3.1.4
itsdangerous==2.2.0